---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/profile_pictures.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, institute, research_areas } = profile
---
<Layout>
  <section class='flex items-center gap-12 border-b pb-12'>
    <Hero
      fullName={fullName}
      title={title}
      institute={institute}
      profilePicture={ProfilePictures}
      blurb={profile.about}
    />
  </section>

  <section class='py-12 border-b'>
    <Grid gridTitle='Research Areas' gridItems={research_areas} />
  </section>

  <section class='py-12 border-t'>
    <ArticleList listTitle='Recent Publications' listItems={publications} />
  </section>
</Layout>
