---
import AuthorList from '@/components/ui/AuthorList.astro';

interface PublicationItem {
  title: string;
  authors: string[];
  venue: string;
  year: number;
  link?: string;
  abstract?: string;
}

interface Props {
  elements: PublicationItem[];
  highlightName?: string;
}

const { elements, highlightName } = Astro.props;
---

<ul class="space-y-8">
  {
    elements.map((element) => (
      <li class="group">
        {element.link ? (
          <a
            href={element.link}
            class="block hover:text-accent transition-colors duration-200"
            target="_blank"
            rel="noreferrer noopener"
          >
            <h3 class="text-lg font-bold mb-2">{element.title}</h3>
          </a>
        ) : (
          <h3 class="text-lg font-bold mb-2">{element.title}</h3>
        )}
        <AuthorList authors={element.authors} highlightName={highlightName} />
        <p class="text-sm mb-3">
          <span class="italic">{element.venue}</span> • {element.year}
        </p>
        {element.abstract && <p>{element.abstract}</p>}
      </li>
    ))
  }
</ul>
